@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  /* Background color */
  --bg-color-body: #dfe3ec;
  --bg-color-content: #f8f8fa;
  --bg-color-menu: #3c38ce;
  --bg-color-border: #d8d3d3;
  --bg-color-box: #ffffff;
  --bg-color-span: #ffecb3;
  --bg-color-icon: #ffffff;
  --bg-color-avatar: #ecd348;
  --bg-color-border-avatar: #4a4de6;
  --bg-color-storage: #342bc2;
  --bg-color-button: #4a4de6;
  --bg-color-bar1: #ebebf5;
  --bg-color-bar2: #caccf7;
  --bg-color-bar3: #828aed;
  --bg-color-bar4: #4a4de6;
  --bg-color-bar5: #2356e1;
  /* Text color */
  --text-white: #ffffff;
  --text-orange: #e6881d;
  --text-grey: #909090;
  --text-menu: #7a76d5;
  --text-green: #3bcf40;
  --text-red: #c60a26;
  --text-list1: #ebebf5;
  --text-list2: #caccf7;
  --text-list3: #828aed;
  --text-list4: #4a4de6;
  --number-progressbar: #4a4de6;
  /* Button color*/
  --btn-bgicon: #7274eb;
  --btn-bgcolor: #eaeafd;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  appearance: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--bg-color-body);
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  /* color: var(--text-white); */
}

h5 {
  font-weight: 400;
  color: var(--text-grey);
}

i {
  font-size: 1.5rem;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 3rem 10rem;
}

/* Estilização geral do menu */
.container .menu {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 20rem;
  height: 100%;
  padding: 1rem;
  gap: 2rem;
  background: var(--bg-color-menu);
  border-radius: 2rem 0 0 2rem;
}
/* fim estilização geral do menu */

/* Estilização título do menu */
.container .menu .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 5rem;
  color: var(--text-white);
  border-bottom: solid 1px var(--bg-color-border);
  padding: 2rem 0;
}

.container .menu .title i {
  font-size: 3rem;
}
/* Fim da estilização do título do menu */

/* Estilização do perfil do menu */
.container .menu .profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: var(--bg-color-border-avatar);
  border-radius: 1rem;
}

.container .menu .profile .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background: var(--bg-color-avatar);
}

.container .menu .profile .text {
  display: flex;
  flex-direction: column;
  align-content: center;
  color: var(--text-white);
}

.container .menu .profile .icon i {
  color: var(--text-white);
}
/* Fim da estilização do perfil do menu */

/* Estilização da lista do Menu */
.container .menu .list {
  display: flex;
  width: 100%;
  height: 40rem;
}

.container .menu .list .mobile-menu i {
  font-size: 3rem;
  color: var(--bg-color-icon);
  display: none;
}

.container .menu .list nav {
  display: flex;
  width: 100%;
}

.container .menu .list nav ul li {
  padding: 0.5rem;
  width: 100%;
}

.container .menu .list nav ul li:hover a i {
  font-size: 2rem;
  color: var(--text-white);
  transition: 0.5s;
}

.container .menu .list nav ul li:hover a span {
  font-size: 2rem;
  color: var(--text-white);
  transition: 0.5s;
}

.container .menu .list nav ul li a {
  color: var(--text-menu);
}
/* Fim da estilização da lista do Menu */

/* Estilização progress bar */
.container .menu .storage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10rem;
  background: var(--bg-color-storage);
  border-radius: 1rem;
}

.container .menu .storage .text1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  color: var(--text-menu);
}

.container .menu .storage .text2 {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0 1.5rem;
  width: 100%;
  color: var(--text-menu);
}

.container .menu .storage h4:nth-child(odd) {
  color: var(--text-white);
  font-weight: 600;
}

.container .menu .storage .progress {
  display: flex;
  width: 90%;
  height: 0.2rem;
  background: var(--bg-color-border-avatar);
}

.container .menu .storage .progress .bar {
  width: 10%;
  background: var(--text-white);
}
/* Fim da estilização progress bar */

/* Estilização avatar de login */
.container .menu .login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  height: 7rem;
  border-top: solid 1px var(--bg-color-border);
  color: var(--text-white);
}

.container .menu .login .avatar img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
/* -------------------------------------------------------------------------------------------------- */
/* Formulário */
/* Estilização do GRID */
.container .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(2, 2fr) 5rem;
  background: var(--bg-color-content);
  border-radius: 0 2rem 2rem 0;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

/* Estilização do Header */
.container .content .header {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
/* Fim da Estilização do Header */

/* Estilização dos Box */
.container .content .box1 {
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container .content .box2 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.container .content .box3 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.container .content .box4 {
  grid-column: 3/4;
  grid-row: 3/4;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.container .content .box5 {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Fim estilização do Box */
/* Fim da estilização do grid */

/* Estilização da div da imagem */
.container .content .image {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: flex-end;
  border: solid 1px var(--bg-color-border);
  border-radius: 1rem;
  overflow: hidden;
}

.container .content .image form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background: var(--bg-color-border);
}
/* Fim da estilização da div da imagem */

/* Estilização dos inputs */
/* Início Box 1 */
.container .content .box1 .nome,
.descricao {
  width: 100%;
  font-size: 1.5rem;
}

.container .content .box1 input {
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}
/* Fim Box 1 */

/* Início Box 2 */
.container .content .box2 .codigo,
.marca,
.categoria {
  width: 100%;
  font-size: 1.5rem;
}

.container .content .box2 input {
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}
/* Fim Box 2 */

/* Início Box 3 */
.container .content .box3 .unidade,
.quantidade,
.custo {
  width: 100%;
  font-size: 1.5rem;
}

.container .content .box3 input {
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}
/* Fim box 3 */

/* Início Box 4 */
.container .content .box4 .fornecedor,
.precofornecedor,
.precominimo {
  width: 100%;
  font-size: 1.5rem;
}

.container .content .box4 input {
  font-size: 1.5rem;
  border-radius: 1rem;
  width: 100%;
}
/* Fim Box 4 */

/* Início Box 5 */
.container .content .box5 .btn {
  padding: 1rem 3rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background: var(--bg-color-button);
  color: var(--text-white);
}
/* Fim Box 5 */

/* Fim formulário */
/* -------------------------------------------------------------------------------------------------- */

/* Início Media Query (Responsividade) */

/* Início responsividade telas menores */
@media (min-width: 250px) and (max-width: 600px) {
  .container .content .header .title h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .container .content .header .title h3 {
    display: none;
  }

  .container .content .header .input i {
    font-size: 1.5rem;
    border-radius: 1rem 0 0 1rem;
    background: var(--bg-color-icon);
  }

  .container .content .header .input input {
    height: 1.5rem;
    border-radius: 0 1rem 1rem 0;
    width: 8rem;
  }

  .container .content .card1 .text {
    display: none;
  }

  .container .content .card1 .bar {
    display: none;
  }

  .container .content .card2 .text {
    display: none;
  }

  .container .content .card2 .bar {
    display: none;
  }

  .container .content .card3 .text {
    display: none;
  }

  .container .content .card3 .bar {
    display: none;
  }
}
/* Fim Media Query telas menores */

/* Início Media Query telas médias */
@media (min-width: 250px) and (max-width: 1000px) {
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }

  .container .content .box1 {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
  }

  .container .content .form form .imagem {
    display: none;
  }

  .container .content .box2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }

  /* Fim da responsividade do Content (GRID) */

  /* Responsividade do Menu */
  .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    height: 100%;
  }
  /* Responsividade do titulo do menu */
  .container .menu .title i {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container .menu .title h2 {
    display: none;
  }
  /* Fim da responsividade do titulo do menu */

  /* Responsividade do perfil do menu */
  .container .menu .profile {
    display: none;
  }
  /* Fim da responsividade do perfil do menu */

  /* Responsividade da lista do menu */

  .container .menu .list {
    width: 100%;
    height: 90%;
  }

  .container .menu .list nav ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container .menu .list nav ul li a span {
    display: none;
  }

  .container .menu .storage {
    display: none;
  }

  .container .menu .list nav ul li:hover a i {
    font-size: 3rem;
    color: var(--text-white);
    transition: 0.5s;
  }
  /* Fim responsividade da lista do menu */

  /* Responsividade avatar de login */
  .container .menu .login {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container .menu .login .avatar img {
    height: 5rem;
    width: 5rem;
  }

  .container .menu .login .text {
    display: none;
  }
  .container .menu .login .icon {
    display: none;
  }
  /* Fim Responsividade avatar de login */
}
