:root {
  /* Background color */
  --bg-color-body: #dfe3ec;
  --bg-color-content: #f8f8fa;
  --bg-color-menu: #3c38ce;
  --bg-color-border: #eee;
  --bg-color-box: #ffffff;
  --bg-color-span: #ffecb3;
  --bg-color-icon: #ffffff;
  --bg-color-avatar: #ecd348;
  --bg-color-border-avatar: #4a4de6;
  --bg-color-border: #ccc;
  --bg-color-storage: #342bc2;
  --bg-color-button: #4a4de6;
  --bg-color-bar1: #ebebf5;
  --bg-color-bar2: #caccf7;
  --bg-color-bar3: #828aed;
  --bg-color-bar4: #4a4de6;
  /* Text color */
  --text-white: #ffffff;
  --text-menu: #7a76d5;
  --text-orange: #e6881d;
  --text-grey: #909090;
  --text-sucess: #3bcf40;
  --text-danger: #c60a26;
  --text-list1: #ebebf5;
  --text-list2: #caccf7;
  --text-list3: #828aed;
  --text-list4: #4a4de6;
  --number-progressbar: #4a4de6;
  /* Button color*/
  --btn-bgicon: #7274eb;
  --btn-bgcolor: #eaeafd;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  appearance: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}

/* html {
    font-size: 62.5%;
} */

body {
  margin: 1rem;
  background: var(--bg-color-body);
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.container .content {
  display: flex;
  justify-content: center;
  background: var(--bg-color-content);
  border-radius: 0 2rem 2rem 0;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
}

/* formulário */
/* Início Header */
.container .content .form .header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
}

.container .content .form .header h2 {
  font-size: 3rem;
}
/* Fim Header */

/* Início Form */
.container .content form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 2rem;
  padding: 1rem;
  width: 60rem;
  height: 80%;
}

.container .content form .imagem {
  border: solid 1px var(--bg-color-border);
  border-radius: 0.5rem;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  align-items: flex-end;
}

.container .content .form .input1 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.container .content .form .input2 {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.container .content form .imagem .text {
  background: var(--bg-color-border);
  border-radius: 0 0 0.5rem 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .content .form .input1 input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.container .content .form .input1 textarea {
  border-radius: 0.5rem;
}

.container .content .form .input2 .campo {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.container .content .form .input2 input {
  width: 17.5rem;
  padding: 0.5rem;
}

.container .content .form .input3 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}

.container .content .form button {
  background: var(--bg-color-button);
  color: var(--text-white);
  border-radius: 0.5rem;
  width: 5rem;
  height: 3rem;
  padding: 0.5rem;
}
